/* Styles for Mobile Site */

/* Header & Hero */
 #hero {
    background-color: #47A9E6; 
    color: #5F6975;
    text-align:center;
    padding:20px;
 }
/* Projects */

/* Reviews */

/* Footer */


/* Media state for Desktop site */
@media (min-width: 1000px) {


    /* Header & Hero */

    /* Projects */

    /* Reviews */

    /* Footer */

}